<!-- RESERVATION DELETION CONFIRMATION PAGE -->
<div class="mx-5 mt-5">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Unsubscribe</legend>
            <h2 class="my-3">Are you sure you want to unsubscribe?</h2>
            <p><strong>You may miss out on deals!</strong></p>
        </fieldset>
        <div class="form-group">
            <!-- DELETES THE RESERVATION -->
            <button class="btn btn-danger" type="submit">Yes, unsubscribe</button>
            <!-- RETURNS TO RESERVATION DETAILS PAGE -->
            <a class="btn btn-secondary" href="{% url 'home' %}">No, go back</a>
        </div>
    </form>
</div>