{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 class="text-center">Our Courses</h1>

<div class="container">
    <div class="row align-items-start">
        <div class="col-lg-6">
            
        </div>
        <div class="col-lg-6">
            
        </div>
    </div>
    <div class="row align-items-start">
        <div class="col-lg-6">
            
        </div>
        <div class="col-lg-6">
            
        </div>
    </div>
    <div class="row align-items-start">
        <div class="col-lg-6">
            
        </div>
        <div class="col-lg-6">
            
        </div>
    </div>
</div>

{% endblock %}