{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 class="text-center">FAQs</h1>

<div class="container">
    <div class="row align-items-start">
        <div class="col-lg-6">
            <h2>What does purchasing a course get me?</h2>
            <p>
                Purchasing any of our courses gets you access to the course FOR LIFE. It's a one-time purchase that will
                ensure you have access to the material for as long as need it. Also, you'll have access to any new
                additions
                or updates to the course over time. You ALWAYS have the most up-to-date and value-packed version
                available.
                In addition to the course, you'll receive a secret code to access the private members-only channels in
                the
                Charles Cornell Discord server.
            </p>
        </div>
        <div class="col-lg-6">
            <h2>How is this different from other piano courses?</h2>
            <p>
                One of the ways Charles has been able to build a YouTube channel with over 1M subscribers is by having a
                unique ability to explain complicated concepts in an extremely clear and easy-to-understand manner.
                While other courses simply feature an instructor talking to the camera, this course is packed full of
                detailed graphic animations and supplemental resources to make sure you'll be up to speed at every step
                of the way. Plus, you'll practice every single concept we teach in the course in an extensive exercise
                module for each subject. Not only will you understand everything, you'll put it into practice
                immediately!
            </p>
        </div>
    </div>
    <div class="row align-items-start">
        <div class="col-lg-6">
            <h2>How much will I need to practice?</h2>
            <p>
                There is no one-size-fits-all answer to the question of how much practice is enough. The best amount of
                time to practice is any amount of time when you're actually doing it. For some people, that might be 10
                minutes per day. For others, it might be 2 hours. With this course, you can go as fast or as slow as you
                like, and you can replay any of the videos in the course as many times as you like. You get to set your
                own pace and take as long as you need to work through it.
            </p>
        </div>
        <div class="col-lg-6">
            <h2>What kind of piano do I need?</h2>
            <p>
                One that works! An acoustic piano will work great and so will a digital keyboard. It doesn't matter how
                expensive it is, how many keys it has, or how many features it has. If it has some keys and makes a
                sound, you can probably use it! Now of course, a better quality instrument can help make some things
                easier. But especially at the beginning, the important thing is that you get playing at all. You can
                worry about the fine details later.
            </p>
        </div>
    </div>
    <div class="row align-items-start">
        <div class="col-lg-6">
            <h2>What if I've never played the piano before?</h2>
            <p>
                You're in the right place! This course is a fantastic place for you to start even if you've never even
                sat down at a piano before. We'll teach you everything from how to properly sit at the instrument, to
                correct finger technique so you don't injure yourself over a long period of time of bad habits. We'll
                cover everything you need to know to get started on this instrument. And with lifetime access, you can
                go back to each lesson again and again until you feel comfortable!
            </p>
        </div>
        <div class="col-lg-6">
            <h2>What if I have trouble with some of the material?</h2>
            <p>
                It is absolutely completely normal to struggle with various sections of the course, especially when
                you're starting from scratch. This course is designed to be completed again and again as needed. The
                exercises are not one-and-done in the sense that simply accomplishing them correctly once is enough.
                They are designed to be used over and over again in a consistent and repetitive practice regimen. Even
                once you've completed the instructional material, the exercise modules can be used time and time again!
                This repetition will help ensure that you're able to complete all of the sections over time. They only
                get easier the more you practice!
            </p>
        </div>
    </div>
</div>

<section id="faq-accordion">
    <h1 id="faq-heading">CSS + HTML only Accordion Element</h1>
    <ul class="faq-ul">
      <li class="faq-li">
        <input type="checkbox" checked class="faq-input">
        <i></i>
        <h2 class="faq-h2">Languages Used</h2>
        <p class="faq-text">This page was written in HTML and CSS. The CSS was compiled from SASS. I used Normalize as my CSS reset and -prefix-free to save myself some headaches. I haven't quite gotten the hang of Slim for compiling into HTML, but someday I'll use it since its syntax compliments that of SASS. Regardless, this could all be done in plain HTML and CSS.</p>
      </li>
      <li class="faq-li">
        <input type="checkbox" checked class="faq-input">
        <i></i>
        <h2 class="faq-h2">How it Works</h2>
        <p class="faq-text">Using the sibling and checked selectors, we can determine the styling of sibling elements based on the checked state of the checkbox input element. One use, as demonstrated here, is an entirely CSS and HTML accordion element. Media queries are used to make the element responsive to different screen sizes.</p>
      </li>
      <li class="faq-li">
        <input type="checkbox" checked class="faq-input">
        <i></i>
        <h2 class="faq-h2">Points of Interest</h2>
        <p class="faq-text">By making the open state default for when :checked isn't detected, we can make this system accessable for browsers that don't recognize :checked. The fallback is simply an open accordion. The accordion can be manipulated with Javascript (if needed) by changing the "checked" property of the input element.</p>
      </li>
    </ul>
</section>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'home/js/faq.js' %}"></script>
{% endblock %}