/* -------- GENERAL STYLES -------- */

body {
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    background-color: #2c6967;
}

.table {
    color: #fff;
}

.table-hover tbody tr:hover {
    color: #fff;
}

a {
    color: #ed8500;
}

a:hover {
    color: #c47003;
}

.text-muted {
    color: #fff !important;
}

.orange-text {
    color: #ed8500;
}

.invalid-feedback {
    color: #fff;
    text-shadow: 0px 1px 1px red
}

/* -------- HERO IMAGE -------- */

#hero-img {
    border-radius: 10px;
}

#hero-container-inner {
    flex-direction: column-reverse;
}

@media (max-width: 991px) {
    #hero-container-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 460px;
    }
}

#hero-container-text li p {
    font-size: 1.2rem;
}

#hero-button {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 20px;
}

#hero-container {
    background: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0)), url('https://web-piano-academy.s3.eu-west-1.amazonaws.com/static/img/hero-image-optimised.webp');
    background-color: #337277; /* Used if the image is unavailable */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
  }


#hero-heading {
    color: #ed8500;
    font-size: 5rem;
    padding-top: 106px;
    text-shadow: 5px 3px 6px #00000099;
}

/* -------- CUSTOM BUTTONS -------- */

.black-button {
    color: #fff;
    background-color: black;
    border-color: grey;
}

.white-button {
    color: #000;
    background-color: #fff;
    border-color: grey;
}

.black-button:hover {
    color: #d6d6d6;
    border: 1px solid #ed8500 !important;
}

.white-button:hover {
    border: 1px solid #ed8500 !important;
}

/* -------- NAVBAR -------- */

@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: flex-end;
    }

}

#search-dropdown {
    min-width: 262px;
    background: transparent;
    border: 2px solid #ed8500;
    padding: 10px;
}

#nav-button {
    border: 1px solid white;
}

#hamburger {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


#logo {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
}

.nav-link {
    color: #fff !important;
}


.nav-link:hover, #logo:hover, a.text-info:focus, a.text-info:hover {
    color: #ed8500 !important;
    font-weight: bolder;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #ed8500;
}


#search-icon {
    color: #ed8500;
}

#search-icon:hover, #search-icon:focus {
    color: #ed8500;
}

#search-button:focus {
    background: transparent;
    color: #ed8500;
}

.form-control:focus {
    box-shadow: 0 0 0 0.1rem rgb(237 144 5 / 98%);

}

.btn.focus, .btn:focus {
    box-shadow: 0 0 2px 0.2rem #d9933a94;
}

#piano-logo {
    width: 29px;
    height: 29px;
    margin-right: 10px;
}

#piano-logo-homepage {
    width: 34px;
    height: 34px;
    margin-right: 10px;
    margin-bottom: 7px;
}

@media (min-width: 768px) {
    .navbar {
        background-color: rgba(0, 0, 0, 0) !important;
        transition-property: background-color, color;
        transition-duration: 0.5s;
      }
      
      .navbar-dark {
        background-color: rgba(0, 0, 0, 0.9) !important;
        color: #ffffff !important;
      }
      
      .navbar-collapse, .navbar-nav, .nav-item {
        color: inherit !important;
      }    
}

@media (max-width: 767px) {
    .navbar {
        background-color: rgba(0, 0, 0, 0) !important;
        transition-property: background-color, color;
        transition-duration: 0.5s;
      }
      
      .navbar-dark {
        background-color: rgba(0, 0, 0, 0.9) !important;
        color: #ffffff !important;
      }

    #navbarCollapse {
        background-color: #337277;
        border-radius: 5px;
        padding: 7px;
        box-shadow: 5px 5px 5px #00000099;
    }
}

@media (max-width: 900px) {
    #navbarCollapse {
        font-size: 0.9rem;
    }
    
    #piano-logo {
        width: 26px;
        height: 26px;
        margin-right: 7px;
    }

    #logo {
        font-size: 0.8rem;
    }
}

/* -------- CUSTOM PAGE CONTAINERS -------- */

.default-page-container {
    background: linear-gradient(#6da19a, #2c6967);
    min-height: 100vh;
    min-width: 100%;
}

.default-page-header, .logo-font {
    text-align: center;
    padding-top: 85px;
    margin-bottom: 40px;
    color: #ed8500;
    font-size: 3rem;
    text-shadow: 1px 2px 6px #00000099;
}




/* -------- OUR COURSES PAGE -------- */

.course-price {
    text-align: center;
    color: #000;
}

.course-title {
    font-weight: 700;
    text-align: center;
    color: #000;
}

.course-subtitle {
    color: #000;
}

.course-level, .course-category {
    margin-bottom: 0;
    font-weight: 200;
    text-align: center;
    color: #000;
}

.card {
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.1)
}


.card-body {
    min-height: 0;
    border-top: 4px solid #ed8500;
}

.product-cards {
    text-align: center;
}

.course-button {
    font-size: smaller;
    margin-top: 5px;
}

.product-admin-links {
    text-align: center;
}

#sorting-dropdown {
    margin-left: 6%;
}

.sorting-link {
    margin-left: 5px;
    color: #000;
}

#sorting-dropdown li:hover {
    color: #fff;
    background-color: #ed8500;
}

.sorting-link:hover {
    color: #fff;
    text-decoration: none;
}

.sorting-link-section:hover {
    color: #fff;
}

#sorting-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort-select-wrapper {
    min-width: 200px;
}

.border-info {
    color: #000;
    border-color: #ed8500 !important;
}

.custom-select:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 153, 0, 0.25);;
}

#sort-selector {
    border-color: #ed8500;
}

.card-img-top-fluid {
    width: 100%;
    height: 100%;
}


/* -------- COURSE DETAILS PAGE -------- */

#basket-buttons-container {
    display: flex;
}

#details-img {
    max-width: 360px;
}

#product-details-container-outer {
    padding-top: 85px;
}


/* -------- MODALS -------- */

.modal-body, .modal-title {
    color: #000;
}

.modal-footer {
    justify-content: space-around;
}


/* -------- CUSTOM ERROR PAGES -------- */

.wrap-error {
    height: 100vh
}

.wrap-error h1 {
    font-size: 6.875rem;
    letter-spacing: -10px;
    line-height: 1;
    font-family: montserrat, sans-serif;
}

.error-number span {
    color: #fff;
    text-shadow: -8px 0 0 rgb(215 125 10);
}

/* -------- UNSUBSCRIBE PAGE -------- */

#unsubscribe-button-container {
    display: flex;
    justify-content: center;
}



/* -------- ABOUT PAGE -------- */

#about-header {
    padding-top: 83px;
    margin-top: 0;
}

.about-text {
    max-width: 500px;
}

.about-text-container-left {
    display: flex;
    justify-content: flex-start;
}

.about-text-container-right {
    display: flex;
    justify-content: flex-end;
}

.about-separator {
    border-top: 5px solid #ed8500;
    margin: 25px 0;
}

.about-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-subheading {
    color: #ed8500;
}

.about-img {
    margin-top: 53px;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #00000099;
}

#about-last-img {
    margin-bottom: 25px;
}

#about-button-container {
    display: flex;
    justify-content: center;
    margin: 25px;
}

/* -------- MESSAGES -------- */

#message-container-outer {
    display: flex;
    justify-content: center;
}

#message-container {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 20px;
}


/* -------- SHOPPING BASKET -------- */

#checkout-button-container {
    padding: 0;
}

.qty_input {
    display: none;
}



/* -------- FAQ PAGE -------- */

#faq-accordion-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.transition,
.faq-ul li i:before,
.faq-ul li i:after,
.faq-text {
    transition: all 0.25s ease-in-out;
}

.flipIn,
.faq-ul li,
#faq-heading {
    animation: flipdown 0.5s ease both;
}

.no-select,
.faq-h2 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#faq-accordion {
    min-height: 0;
    display: inline-block;
    position: relative;
    margin: 140px 90px 205px 90px;
    box-shadow: 0 10px 0 0 #ed8500 inset;
    background-color: #fff;
    color: #000;
    max-width: 900px;
    min-width: 320px;
    padding: 30px;
    border-radius: 20px
}


#faq-heading {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 3px;
    font-weight: 100;
}

.faq-h2 {
    font-size: 26px;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    background-color: #fefffa;
    margin: 0;
    cursor: pointer;
}

.faq-text {
    color: rgba(75, 75, 75, 0.9);
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
}

.faq-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.faq-ul,
.faq-li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    padding-right: 20px;
    border-top: 1px dotted #cfcfcf;
}

.faq-ul li:nth-of-type(1) {
    animation-delay: 0.2s;
}
.faq-ul li:nth-of-type(2) {
    animation-delay: 0.3s;
}
.faq-ul li:nth-of-type(3) {
    animation-delay: 0.4s;
}
.faq-ul li:nth-of-type(4) {
    animation-delay: 0.5s;
}
.faq-ul li:nth-of-type(5) {
    animation-delay: 0.6s;
}
.faq-ul li:nth-of-type(6) {
    animation-delay: 0.7s;
}
.faq-ul li:nth-of-type(7) {
    animation-delay: 0.8s;
}
.faq-ul li:nth-of-type(8) {
    animation-delay: 0.9s;
}
.faq-ul li:nth-of-type(9) {
    animation-delay: 1s;
}

.faq-ul li:last-of-type {
    padding-bottom: 0;
}

.faq-ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0;
}

.faq-ul li i:before,
.faq-ul li i:after {
    content: "";
    position: absolute;
    background-color: #ed8500;
    width: 3px;
    height: 9px;
}

.faq-ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
}

.faq-ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
}

.faq-ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

.faq-ul li input[type=checkbox]:checked~p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}

.faq-ul li input[type=checkbox]:checked~i:before {
    transform: translate(2px, 0) rotate(45deg);
}

.faq-ul li input[type=checkbox]:checked~i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
    0% {
        opacity: 0;
        transform-origin: top center;
        transform: rotateX(-90deg);
    }

    5% {
        opacity: 1;
    }

    80% {
        transform: rotateX(8deg);
    }

    83% {
        transform: rotateX(6deg);
    }

    92% {
        transform: rotateX(-3deg);
    }

    100% {
        transform-origin: top center;
        transform: rotateX(0deg);
    }
}



/* -------- OUR COURSES PAGE -------- */

#profile-header {
    margin-bottom: 50px;
}



/* -------- CHECKOUT PAGE -------- */

.update-link, .remove-item {
    cursor: pointer;
}

.tooltip-button {
    border: none;
    color: #ed8500;
    background: transparent;
    padding: 0;
    margin-left: 2px;
}

.submit-button p.text-danger {
    color: #fff !important;
}

input[type=checkbox]:checked {
    accent-color: #ed8500;
}

/* -------- CHECKOUT SUCCESS PAGE -------- */

#confirmation-header {
    text-align: center;
}

#order-summary-container {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
}


/* -------- FOOTER -------- */

.footer-separator {
    border-top: 5px solid #ed8500;
    margin: 0;
}

#mailing-list-button {
    max-width: 250px;
}


/* -------- ALLAUTH FORMS -------- */

.allauth-form-inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #fff; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}


/* -------- CUSTOM FORMS -------- */

.custom-form-outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    margin-bottom: 100px;
  }
  
  .custom-form-inner-container {
    max-width: 500px;
  }
  
@media (max-width: 768px) {
  .custom-form-inner-container input,
  .custom-form-inner-container select,
  .custom-form-inner-container textarea {
    width: 300px;
    margin-bottom: 10px;
  }
}
  
  .custom-form-button-container {
    display: flex;
    justify-content: center;
  }

/* -------- PRODUCT FORMS -------- */

#id_date_created, #div_id_date_created {
    display: none;
}



/* -------- TOASTS -------- */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.toast-body {
    color: black;
}

.bg-info, .bg-success {
    background-color: #ed8500 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* -------- CONTACT PAGES -------- */

#contact-table-container-outer {
    display: flex;
    justify-content: center;
}

#contact-table-container {
    max-width: 800px;
    margin: 50px 0px;
}

#contact-table {
    font-size: 0.9rem;
    text-align: center;
}

#contact-table .fa-check {
    color: #fff;
}

#contact-table .fa-xmark {
    color: red;
}

#contact-message {
    word-wrap: break-word;
    max-width: 50vw;
}

@media (max-width: 768px) {
    .contact-list-email,
    .contact-list-name,
    .contact-list-header-name,
    .contact-list-header-email {
        display: none;
    }
}

#message-detail-container-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#message-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}

#responded-form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#responded-form label {
    display: none;
}

#id_responded {
    height: 18px;
    width: 18px;
    margin-top: 5px;
}

#contact-delete-button-container {
    display: flex;
    justify-content: center;
}

#message-delete-button {
    margin-right: 10px;
}

#message-success-text {
    margin-bottom: 60px;
}

#formDiv {
    display: none;
}

#response-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#response-form p {
    display: none;
}

#response-form input {
    margin: 2px;
    background-color: transparent;
    color: #fff;
    border: 0;
    width: 300px;
    font-weight: 700;
}

#responded-update-button {
    margin: 20px !important;
    background-color: #000 !important;
    color: #fff !important;
    width: 170px !important;
    border: 1px solid grey !important;
    font-size: 1.2rem !important;
    font-weight: 500 !important;
}

#responded-update-button:hover {
    color:  #d6d6d6!important;
    border: 1px solid #ed8500 !important;
}

#email_body {
    border-radius: 10px;
    box-shadow: 1px 2px 5px #00000099;
    border: 0;
    padding: 8px;
}
