{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

    <article class="mx-5 mt-5" class="default-page-container" id="message-detail-container-outer">
        <h1 class="text-center default-page-header">Message Details</h1>
        <!-- RESERVATION DETAILS -->
        <div id="message-detail-container">
            <br>
            <small class="text-muted">Message sent on: <strong>{{ object.date_created }}</strong></small>

            <!-- DETAILS TABLE -->
            <table class="table" id="reservation-detail-table">
                <thead>
                    <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Email:</th>
                        <td>{{ object.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Name:</th>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Subject:</th>
                        <td>{{ object.subject }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Message:</th>
                        <td>{{ object.message }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Responded:</th>
                        <td>
                            <form method="post" id="responded-form">  
                                {% csrf_token %}  
                                {{ form.as_p }}  
                                <input class="btn black-button" id="responded-update-button" type="submit" value="Update">  
                            </form>
                        </td>
                        
                    </tr>
                </tbody>
                </table>
                <div class="text-center my-5" id="message-detail-button-container">
                    <a class="btn black-button" href="mailto:{{ object.email }}" target="_blank">Respond To Message</a>
                    <a class="btn white-button" href="mailto:{{ object.email }}" target="_blank">Delete Message</a>
                </div>
                <!-- CHECK IF RESERVATION WAS CREATED BY THIS USER -->
        </div>
    </article>

{% endblock %}