{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="default-page-container">
        <h1 class="default-page-header">Contact Requests</h1>
        <div id="contact-table-container-outer">
            <div id="contact-table-container">
                <table class="table table-striped table-hover" id="contact-table">
                    <thead>
                      <tr>
                        <th id="contact-list-header-responded" scope="col">Responded?</th>
                        <th scope="col">Details</th>
                        <th scope="col">Subject</th>
                        <th class="contact-list-header-name" scope="col">Name</th>
                        <th class="contact-list-header-email" scope="col">Email</th>
                      </tr>
                    </thead>
                    <tbody>
                        <!-- AUTO-POPULATES THE TABLE -->
                        {% for contact in contacts %}
                            <tr>
                                {% if contact.responded %}
                                    <td><i class="fa-solid fa-check"></i></td>
                                {% else %}
                                    <td><i class="fa-solid fa-xmark"></i></td>
                                {% endif %}
                                <th scope="row"><a href="{% url 'contact-update' contact.id %}">View</a></th>
                                <td>{{ contact.subject }}</td>
                                <td class="contact-list-name">{{ contact.name }}</td>
                                <td class="contact-list-email">{{ contact.email }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
{% endblock content %}