{% extends 'base.html' %}
{% block content %}
<!-- RESERVATION DETAIL PAGE -->
    <article class="mx-5 mt-5" id="message-detail-container-outer">
        <h1 class="text-center default-page-header">Message Details</h1>
        <!-- RESERVATION DETAILS -->
        <div id="message-detail-container">
            <br>
            <small class="text-muted">Message sent on: <strong>{{ object.date_created }}</strong></small>

            <!-- DETAILS TABLE -->
            <table class="table" id="reservation-detail-table">
                <thead>
                    <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Email:</th>
                        <td>{{ object.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Name:</th>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Subject:</th>
                        <td>{{ object.subject }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Message:</th>
                        <td>{{ object.message }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Responded:</th>
                        {% if object.responded == False %}
                        <td>No</td>
                        {% else %}
                        <td>Yes</td>
                        {% endif %}
                    </tr>
                </tbody>
                </table>
                <div class="text-center my-5" id="message-detail-button-container">
                    <a class="btn black-button" href="mailto:{{ object.email }}" target="_blank">Respond To Message</a>
                    <a class="btn black-button" href="mailto:{{ object.email }}" target="_blank">Change Responded Status</a>
                    <a class="btn black-button" href="mailto:{{ object.email }}" target="_blank">Delete Message</a>
                </div>
                <!-- CHECK IF RESERVATION WAS CREATED BY THIS USER -->
        </div>
    </article>
{% endblock content %}