{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Our Courses</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div>
            <h3>Sorting</h3>
            <a href="{% url 'courses' %}?sort=price&direction=asc">Sort by price</a>
            <br>
            <a href="{% url 'courses' %}?sort=level&direction=asc">Sort by level</a>
            <br>
            <a href="{% url 'courses' %}?sort=name&direction=asc">Sort by name</a>
            <br>
            <a href="{% url 'courses' %}?sort=date_created&direction=desc">Sort by newest</a>
            <br>
            <a href="{% url 'courses' %}?sort=category&direction=asc">Sort by category</a>
            <br>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
                            <div class="card h-100 border-0">
                                {% if product.image_url %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image_url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <a class="course-title" href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                                    <p class="small course-level">Level: {{ product.level }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="mb-0 course-price">€{{ product.price }}</p>
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted"></small>
                                            {% endif %}
                                            {% if request.user.is_superuser %}
                                                <small class="ml-3">
                                                    <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                </small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}