{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="default-page-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-5">
                <h2 class="default-page-header"><i class="fa-solid fa-music" style="font-size: 34px;"></i> Our Courses</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div>
            <div class="dropdown">
                <a class="btn black-button dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  Sort Courses
                </a>
              
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a href="{% url 'courses' %}?sort=price&direction=asc">by price</a></li>
                  <li><a href="{% url 'courses' %}?sort=level&direction=asc">by level</a></li>
                  <li><a href="{% url 'courses' %}?sort=name&direction=asc">by name</a></li>
                  <li><a href="{% url 'courses' %}?sort=date_created&direction=desc">by newest</a></li>
                  <li><a href="{% url 'courses' %}?sort=category&direction=asc">by category</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
                            <div class="card h-100 border-0">
                                {% if product.image_url %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image_url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0 product-cards">
                                    <a class="course-title" href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                                    <p class="small course-level">Level: {{ product.level }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="mb-0 course-price">€{{ product.price }}</p>
                                            {% if product.rating %}
                                                <small><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small></small>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if request.user.is_superuser %}
                                        <div class="product-admin-links">
                                            <small>
                                                <a href="{% url 'edit_product' product.id %}">Edit</a> |
                                                <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                            </small>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}