body {
    margin-top: 53px;
    font-family: 'DM Sans', sans-serif;
}

#hero-img {
    border-radius: 10px;
}

#hero-container-inner {
    flex-direction: column-reverse;
}

@media (max-width: 991px) {
    #hero-container-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 460px;
    }
}

#hero-container-text li p {
    font-size: 1.2rem;
}

#hero-button {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 20px;
}

.black-button {
    color: #fff;
    background-color: black;
    border-color: grey;
}

.black-button:hover {
    color: #d6d6d6;
    border: 2px solid white
}
  

@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        justify-content: flex-end;
        }
    
    body {
        margin-top: 53px!important;
      }
}

@media (max-width: 900px) {
    body {
      margin-top: 46px!important;
    }
  }

#navbar {
    background-color: #000!important;
}

#nav-button {
    border: 1px solid white;
}

#hamburger {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


#logo {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
}

.nav-link {
    color: #fff!important;
    font-size: larger;
}

.active>.nav-link {
    text-decoration: underline;
}

.nav-link:hover {
    color: rgb(161, 161, 161)
}

#piano-logo {
    width: 29px;
    height: 29px;
    margin-right: 10px;
}

#piano-logo-homepage {
    width: 34px;
    height: 34px;
    margin-right: 10px;
    margin-bottom: 7px;
}

/* -------- CUSTOM ERROR PAGES -------- */

.wrap-error {
    height: 100vh
}

.wrap-error h1 {
    font-size: 6.875rem;
    letter-spacing: -10px;
    line-height: 1;
    font-family: montserrat, sans-serif;
}

.error-number span {
    color: #000;
    text-shadow: -8px 0 0 rgb(180, 180, 180);
}